<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
	id="org.phonegap.googleanalytics" version="0.0.1">

	<js-module src="www/GoogleAnalyticsPlugin.js" name="GA">
        <clobbers target="window.GA" />
    </js-module>

	<!-- ios -->
	<platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="GoogleAnalyticsPlugin">
				<param name="ios-package" value="GoogleAnalyticsPlugin"/>
			</feature>
			<access origin="*" />
		</config-file>

		<source-file src="src/ios/GoogleAnalyticsPlugin.m" />
		<header-file src="src/ios/GoogleAnalyticsPlugin.h" />
		<source-file src="src/ios/GoogleSDK/libGoogleAnalytics.a" framework="true" />

		<header-file src="src/ios/GoogleSDK/GAI.h" />
		<header-file src="src/ios/GoogleSDK/GAITrackedViewController.h" />
		<header-file src="src/ios/GoogleSDK/GAITracker.h" />
		<header-file src="src/ios/GoogleSDK/GAITransaction.h" />
		<header-file src="src/ios/GoogleSDK/GAITransactionItem.h" />

		<framework src="CoreData.framework" weak="true" />
		<framework src="libz.dylib" />

	</platform>
</plugin>
